<component name="ArtifactManager">
  <artifact type="war" name="SpringSQLHiberTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSQLHiberTest.war">
      <element id="artifact" artifact-name="SpringSQLHiberTest:war exploded" />
    </root>
  </artifact>
</component>